<style type="text/css">
p { text-align: left; }
.reveal ul {
    width: 900px;
}

.reveal strong { color: #00c5b7;
                 font-style: normal;
                 font-weight: bold;
               }

/* color: lawngreen; */

/* all headers are transformed to h1 by reveal.js, */
/* even individual slide headers. */
/* hence, h1 font size should not be too large */
.reveal h1 { 
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
}

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

/* body:after { */
/* content: url(../AssetMgmtAnalysis/unreplicatable_pics/jfinm_logo.png); */
/* position: fixed; */
/* bottom: -30.5em; */
/* left: 70.5em; */
/* transform: scale(.05); */
/* box-shadow: 5px 5px 10px #000; } */

</style>